.categorias .barradenavegacion #lista-categorias
{
    display: flex;
    list-style: none;
    margin-top: 1rem;
    align-items: center;
    background-color: var(--color-hyf);
    border-radius: 0.7rem;
    font-style:var(--font-style);
    font-size: 1.1rem;
    
}
.categorias .barradenavegacion #lista-categorias li
{
    flex:1;
    text-align: center;
}

.categorias .barradenavegacion #lista-categorias li a 
{
display: flex;
text-decoration: none;
color: var(--ahover-color);
align-items: center;
justify-content: center;
}
.categorias .barradenavegacion #lista-categorias li a:hover
{
color: var(--sub-texts);
transition: ease-out 0.2s;

}

#lista-categorias a.activo
{
background-color: rgba(255, 255, 255, 0.707);
border-radius:2.2rem;
transition: ease-out 0.2s;
}