.introduction
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.introduction .textContainer
{
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    height: 42vw;
    width: 100%;
    flex-direction: column;
    background-color:#3a312a99;
}
.introduction .textContainer h1 
{
    font-size: 7rem;
    margin: 2rem;
}
.introduction .textContainer p 
{
    font-size: 1.2rem;
    font-family: var(--text-font);
}
.introduction img
{
    object-fit: cover;
    height:42vw;
    width: 100%;
    
}