#cartas
{
       
    display: grid;
    width: 100%;
    grid-template-columns:repeat(4,1fr);/*Aca hago que entren 4 elementos por fila */
    grid-auto-rows:auto;
    align-items: stretch;
    justify-content: center;
    padding-left: 10px;
    margin-top: 2rem;
    gap:20px;
    transition: opacity 0.5s ease;
    opacity: 1;

}

#cartas h2
{
    grid-column: 1 /-1; /* ocupa todas las columnas */
    text-align: center;
    justify-self: center;
}

#cartas .card 
{
    display: grid;/*para poder adaprtar el boton */ 
    max-width:500px;
    height: 28rem;
    margin: 0 auto;

}

#cartas .contenedor
{
    display: block;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif

}
#cartas .boton-vermas 
{
    justify-self:center;
    align-self: end;    
    height: 2rem;
    padding: 5px;
    margin-bottom: 3px; 
    border-radius: 4rem;
    background-color: rgba(156, 120, 81, 0.927);
    color: rgb(0, 0, 0);
    

}
#cartas .boton-vermas:hover
{
background-color: rgb(209, 235, 177);
transition: 0.2s ease-out ;
cursor: pointer;
}