#dish-display
{
    display: none; /*Al principio no se muestra.*/
    position: fixed;
    justify-content:center;
    align-items: center;
    top: 0;
    overflow-y: auto;
    background-color: rgba(0, 0, 0, 0.6); 
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    backdrop-filter: blur(2px); /* desenfoque del fondo */
}

#dish-display.show
{
   display: flex;
 
}

.card_
{
    width: 45%;
    height: 38rem;
    max-width: 50%;
    max-height: 40rem;
    border: solid 0.02rem;
    border-radius: 1.5rem;
    margin-top: 1rem;
    perspective: 1000rem;
    background-color: white;
}

.card_ .contenedor_ img
{
    object-fit: cover;
   
}
.card_ .imagen_
{
    width: 100%;
    height: 23rem;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    border-bottom: solid rgba(0, 0, 0, 0.712);
}
.card_ .contenedor_
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    gap:1px;
    font-size: 1.2rem;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}   
.card_  input
{
width:90%;
height: 2rem;
margin-left: 2rem;
}
.card_ .QuantityControl
{
display: flex;
justify-content: center;
align-items: center;
margin-top: 3px;
border-radius: 2rem;
gap: 1rem;

}
.card_ .QuantityControl button
{
    background-color: #ffffff;
    border: none;
    color: black;
    opacity: 0.5;
    padding: 0.2rem 0.5rem;
    font-size: 1.2rem;
    border-radius: 0.8rem;
}
.card_ .QuantityControl button:hover
{
    opacity: 1;
    transition: ease-out 0.2s;
    background-color: rgb(0, 0, 0);
    color:rgb(255, 254, 254);
    box-shadow:  0 5px 15px rgb(0, 0, 0);;

}


#close-btn
{
position: absolute;
right: 13rem;
border-radius: 5rem;
margin-bottom: 33rem;
margin-right: 12rem;
width: 2.5rem;

}
#close-btn:hover
{
background-color: red;
transition: ease-out 0.2s;
}

#dish-display .order-button
{
position: absolute;
margin-top: 36rem;
border-radius: 2rem;
width: 10rem;
height: 2rem;


}
#dish-display .order-button:hover
{
background-color: brown;
transition: ease-out 0.2s;

}