.cartas
{
    width: 100%;
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.card
{
    width: 100%;
    height: 20rem;
    border: solid 0.02rem ;
    border-radius: 1.5rem;
    margin-top: 2.5rem;
    perspective: 1000rem;
 
}
.card:hover
{  
    box-shadow:  0rem 0rem 4rem var(--color-hyf);
    box-sizing: border-box;
    transition: 0.5s ease-out;
}

.card .contenedor img
{
    object-fit: cover;
   
}
.card .imagen
{
    width: 100%;
    height: 15rem;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    border-bottom: solid var(--color-hyf);
}
.card .contenedor
{
    display: flex ;
    justify-content: space-between;
    align-items: start;
    padding: 15px;
    gap: 2px;


}   
