.Navbar
{
    gap: 33rem;
}
body
{
    background-color: rgb(249, 247, 245);
}
.AdminIntroduction
{
    display: flex;
    justify-content: center;
    background-color: var(--menu-introductionColor);
    height: 15rem;
}
.AdminIntroduction .TextContainer
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.TextContainer p
{
    color:var(--thirdText-color);
    font-family: var(--text-font);
    font-size: 1.1rem;
}
.TextContainer h1
{
    font-size: 3rem;
    font-family: var(--tittle-font);
}

.Statics
{
    display: flex;
    flex-direction: row;
    height: 15rem;
    padding: 2rem;
    align-items: center;
    justify-content: center;
    gap: 10rem;
}
.TotalProfit,.TotalActiveOrders,.TotalInactiveOrders
{
    display: flex;
    gap: 1rem;
    flex-direction: column;
    font-size: 1.2rem;
    font-family: var(--text-font);
    color:var(--thirdText-color);
    height: 8rem;
    width: 20rem;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    box-shadow: var(--shadow-card);
}
.Statics span
{
    font-size: 1.8rem;
    color: black;
}
.Statics .Active
{
    color:var(--text-highlighted);
}
.Statics .Inactive
{
    color:var(--principal-color);
}

.Orders
{
display: flex;
flex-direction: column;
padding: 2rem;
gap: 2rem;

}
#OrderOptions
{

    width: 6.5rem;
}
.OrderCards
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(150px, auto);
    gap: 1rem;
    overflow-x: hidden;
    
}
.NoOrderSelected
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 93rem;
    margin-top: 2rem;
   
}
.NoOrderSelected img
{   
    height: 7rem
}
.NoOrderSelected .NoOrderSelectedText
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}
.NoOrderSelected .NoOrderSelectedText h1
{
    color: var();
    font-family: var(--tittle-font);
}
.NoOrderSelected .NoOrderSelectedText p
{
    color: var( --thirdText-color);
    font-family: var(--text-font);
}


.orderCard
{
    width: 100%;
    padding: 1rem;
    border-radius: 0.5rem;
    border: 1px solid var(--links-color);
    box-shadow: var(--shadow-card);
    font-family: var(--text-font);
    background-color: rgb(249, 247, 245);
}

.orderCard .cartHeader
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1rem;
}
.orderCard .cartBody
{
    display: flex;
    flex-direction: column;
    border-bottom: solid 1px black;
}

.orderCard .cartBody .cartBodyInfo
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0.2rem;
}
.orderCard .cartBody .cartBodyInfo img
{
    justify-content: center;
    align-items: center;
    margin-left: 0.5rem;
    height: 1.5rem;
}
.orderCard .cartBody .cartBodyInfo img:hover
{
    cursor: pointer;
}

.orderCard .cartBody .cartBodyInfo p {

    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
}
.orderCard .totalAndBtn
{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 5rem;
}

