
body.ActiveModal
{
    overflow: hidden;
}
#updateModal
{
    display: flex;
    position: fixed;
    flex-direction: column;
    inset: 0;
    opacity: 0;
    justify-content: center;
    align-items: center;
    pointer-events: none;   
}

#updateModal.active
{
    display: flex;
    opacity: 1;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.804);
    pointer-events: auto;
    
}

.modalContent
{
   width: 25rem;
   height: auto;
   background-color: var(--home-color);
   border-radius: 0 0 0.5rem 0.5rem;
} 
.modalHeader {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;  
    align-items: center;         
    padding: 0.5rem 0.5rem;
    height: auto;                
    width: 25rem;  
    background-color: var(--home-color);
    border-radius: 0.5rem 0.5rem 0 0;
}

.closeBtn {
    position: static; 
    padding: 0.3rem 0.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
    border:none;
}

 .closeBtn:hover
{
    background-color: rgba(255, 0, 0, 0.714);
    transition: 0.2s ease;

}
.tittleDiv
{
    display: flex;
    font-size: 0.8rem;
    width: 100%;
    padding: 0.5rem;
    color: var(--text-highlighted);
    align-items: start;
}
.dishInfo
{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    font-size: 1.5rem;
    align-items: center;
    justify-content: start;
    margin-top: 2rem;
    gap: 1rem;
    font-family: var(--text-font);
}
.dishInfo .dishStatus
{
    color: var(--thirdText-color);
    font-size: 1rem;
}
.dishInfo .DishNotes
{
    color: var(--thirdText-color);
    font-size: 1rem;
}
.btnDiv
{
    display: flex;
    margin-top: 1rem;
    gap: 1rem;
}
.btnDiv button
{
    border: none;
}
.btnDiv button.focus
{
    color:white;
    background-color:var(--principal-color);
}
button
{
    padding: 0.3rem;
    border-radius: 0.5rem;
}
button:hover
{
    cursor: pointer;

}

.btn
{
    margin-top: 1.5rem;
}
.btn:hover
{
    background-color: #b34053;
    transition: 0.25s ease;
}

