.Navbar
{
    gap: 34rem;
}

.CartIntroduction
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--menu-introductionColor);
}
.CartIntroduction .TextContainer
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 5rem;
    font-family: var(--text-font);
}
.CartIntroduction .TextContainer h1
{
    font-family: var( --tittle-font);
    font-size: 4rem;
}
.CartIntroduction .TextContainer p
{
  color: var(--thirdText-color);
  font-size: 1.5rem;
}
.CartResume
{
    display: flex;
    flex-direction: row;
    gap: 5rem;
    
    padding: 2rem;
    background-color:var(--Cart-BGColor);
}
.CartResume.empty
{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    height: 25rem;
}
.CartResume.empty .emptymsj
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.CartResume.empty .emptymsj h1
{
    font-family: var(--tittle-font);
    font-size: 1.8rem;
}
.CartResume.empty .emptymsj p
{
   color: var(--thirdText-color);
   font-size: 1.2rem;
}
.CartResume.empty .emptymsj img
{
  height:6rem;
}
.ResumeSection
{
display: flex;
position: sticky;
right: 0;
top: 90;
flex-direction: column;
box-shadow: var( --shadow-card);
background-color: var( --cartCards-color);
justify-content: start;
align-items: center;
max-height: 30rem;

border-radius: 0.5rem;
}
.ResumeSection h2
{
    font-family: var(--tittle-font);    
    padding: 1rem;
}
.ResumeSection .Totalprice
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    font-size:1.2rem;
    color:var(--thirdText-color);
    font-family: var(--text-font);
    width: 90%;
    border-bottom: solid 1px var(--thirdText-color);
}
.DeliveryOptions
{
    display: flex;
    flex-direction: column;
    font-family: var(--tittle-font);
    font-family: var(--text-font);
    gap: 0.4rem;
}
.DeliveryOptions label
{
    margin-left: 1rem;
}
.btn:hover
{
    transition: 0.3s ease;
    background-color: rgb(154, 56, 56);
}
.btn:disabled
{
    cursor:not-allowed;
    background-color: rgb(127, 124, 124);
}
.DeliveryInfo
{
    display: flex;
    flex-direction:column;
    gap: 0.2rem;
}
.hidden
{
    display: none;
}
.DeliveryInfo input
{
    margin-top: 1rem;
    border-radius: 0.2rem;
    width: 16rem;
    border: solid 1px #E7E0DA;
    padding: 0.8rem;
}
.DeliveryInfo input:focus
{
    outline: 2px solid  #cd7674;
    
}

.notes
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}
.notes input
{
    border-radius: 0.2rem;
    border: solid 1px #E7E0DA;
    padding: 0.8rem;
    width: 14rem;
}
.notes input:focus
{
    outline: 2px solid  #cd7674;
}