
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body
{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    
}
html
{
    scroll-behavior: smooth;

}

.Info
{
    display: flex;
    position: relative;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
    z-index: 1;
    
}

.Info h2
{
    color:var(--color-hyf);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:10vh;
}
.Info p
{
    color:var(--color-text);
    display: flex;
    justify-content: center;
    align-items: center;
    
    font-size: 1.5rem;
}

.Info ul
{
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
    gap: 9rem;
}

.Info ul li a
{
    color:var(--color-text);
    text-decoration: none;
    font-family: var(--fuente-general);
    font-size: 1rem; 
}
.Info ul li a:hover
{
    color:var(--color-hyf);
    transition: 0.2s ease-out;
}

.introduction 
{
    background-color: var(--color-principal);
    color:var(--color-text);
    height: 87.5%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    overflow-y: hidden;
}
.introduction img
{
    position: absolute;
    top: 0;
    height:100%;
    width: 100%;
    background-size: cover;
    z-index: -1;
}

section
{
    padding: 2rem;
}



.menu-introduction .menu-header
{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        
}
.menu-introduction .menu-header h2
{
    display:flex;
    align-items: center;
    justify-content: center;
    
    font-size: 3rem;
    color:red;
    
}
.menu-introduction .menu-header p
{
 
    font-size: 1.4rem;
    color:#322a2acb;
}

.menu-btn
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}
.menu-btn ul
{
    list-style-type: none;
}
.menu-btn ul li a 
{
    text-decoration: none;
    border: none;
    border-radius: 2rem;
    color: white;
    background-color: rgba(119, 93, 64, 0.918);
    font-size: 1.3rem;
    font-family: 'Times New Roman', Times, serif;
    padding: 1.5rem ;
}
.menu-btn ul li a:hover 
{
    transition: 0.4s ease-out;
    color:red;
}



#us-description
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem  ;
    
}
#us-description h2
{
    color: red;
    font-size: 3rem;
   
    
}
#us-description p
{
    font-size: 1.2rem;
    
    color:black;
}
#us-description .caracteristicas
{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    width:100%;
    align-items: center;
    gap: 1rem;
 
    font-size: 1.4rem;
}
.caracteristicas .contenedor
{

    display: flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    
}

.caracteristicas .contenedor .Logochef
{

    height: 10rem;

}
.caracteristicas .contenedor .LogoIng
{

    height: 10rem;
    

}
.caracteristicas .contenedor .medallalogo
{

    height: 10rem;

}

.doOrder
{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;

}
.doOrder h2
{
    font-size: 2.3rem;
    color: red;
}
.doOrder .orderBtn
{
    border: none;
    padding:0.98rem;
    border-radius: 1.5rem;
    background-color: rgba(119, 93, 64, 0.989);
    text-decoration: none;
    color:white;
}
.doOrder .orderBtn:hover
{
    color:red;
    transition: color 0.4s ease-out;
}

