*
{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    background-color: black;
}
.resaltado
{
    color:red;
}
.title
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 9rem;
    opacity: 0;
    gap: 1rem;
    transform: translateY(-20px);
    animation: slideFadeIn 2s ease forwards;
}
.role-selection
{
    display: flex;
    flex-direction: column;
    align-content:center;
    justify-content: center;
    margin-top: 0.2rem;    
  
}


@keyframes slideFadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


.role-selection .btns
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    gap: 5rem;
}
.role-selection .btns button
{
    padding: 0.9rem;
    border-radius: 2rem;
    border: none;
    background-color: #1f1f1f;
    color:white;
    cursor: pointer;
    transition: all 0.3s ease;
}
.role-selection .btns button:hover
{
  background-color: #ff0000;
  box-shadow: 0 5px 15px rgba(255, 255, 255, 0.6);
  transform: translateY(-2px);


}
