:root
{
    --fuente:"Times New Roman", Times, serif;
    --colorprincipal:red;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family:sans-serif;
}
body
{
   background-color: #ffffff;
   
}
body.displaytrue
{
    overflow: hidden;
    
}

.logo-car
{
    display: flex;
    gap:1rem

}
#cart-icon {
    height: 3rem;
    display: block;
    
}
.car-counter
{
    position: absolute;
    top: 0.5rem;
    margin-left: 3.5rem;
    font-size: 1.5rem;
}
.menu-introduction
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--fuente);  
    gap: 0.2rem;
}
.menu-introduction h2
{
    color: rgba(0, 0, 0, 0.749);
    font-size: 3rem;
    font-style: italic;
    padding:1rem;
}
.menu-introduction .resaltado
{
    color: var(--colorprincipal);
}
.menu-introduction p
{
    color: grey;
    font-size: 1.5rem;

}
.categorias .barradenavegacion #lista-categorias
{
    display: flex;
    list-style: none;
    margin-top: 3rem;

    gap: 2rem;
    justify-content: center;
    align-items: center;
    background-color: rgba(124, 99, 97, 0.895);
    border-radius: 2rem;
    
}
.categorias .barradenavegacion #lista-categorias li
{
    flex:1;
    text-align: center;
    
}

.categorias .barradenavegacion #lista-categorias li a 
{
display: flex;
text-decoration: none;
color: black;
align-items: center;
justify-content: center;
font-size: 1.5rem;
padding: 2px;
}
.categorias .barradenavegacion #lista-categorias li a:hover
{
color: rgb(248, 248, 248);
transition: ease-out 0.2s;

}

#lista-categorias a.activo
{
background-color: rgb(234, 243, 245);
border-radius:2.2rem;
transition: ease-out 0.2s;
}
#mensaje
{
    position: fixed;
    bottom: -50px;
    left: 50%;
    transform: translateX(-60%);
    border-radius: 2rem;
    padding: 0.5rem;
    background-color: rgba(115, 255, 0, 0.897);
    color: rgb(0, 0, 0);
    transition: all 0.5s ease;
    z-index: 1000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#mensaje.mostrar
{
    bottom: 30px;
    opacity: 1;

}
#mensaje_Error
{
    position: fixed;
    bottom: -50px;
    left: 50%;
    transform: translateX(-60%);
    border-radius: 2rem;
    padding: 0.5rem;
    background-color: rgba(115, 255, 0, 0.897);
    color: rgb(0, 0, 0);
    transition: all 0.5s ease;
    z-index: 1000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#mensaje_Error.mostrar
{
    bottom: 30px;
    opacity: 1;

}








