*
{
    box-sizing: border-box; 
    margin: 0;
}

.order-display
{
    display: none; /*Al principio no se muestra.*/
    position: fixed;
    justify-content:center;
    align-items: center;
    top: 0;
    background-color:rgba(0, 0, 0, 0.694);
    width: 100%;
    height: 100%;
    backdrop-filter: blur(2px); /* desenfoque del fondo */
    z-index: 1;

}
.order-display.show
{
    display: flex;


}
.order-content
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #daf9abe7;
    border-radius: 0.5rem;
    justify-content: center;
    width: 90%;
    height: 95%;
    max-height: 90vh;
    overflow: hidden;
}
.order-content .title
{   
    position: absolute;
    top:2.2rem;
    color: rgb(0, 0, 0);
    
}

#orderclose-btn_
{
position:absolute;
top: 40;
right: 90;
border-radius: 2rem;
width: 2rem;
z-index: 2;
}

#orderclose-btn_:hover
{
background-color: red;
transition: ease-out 0.2s;

}





#mensaje
{
    position: fixed;
    bottom: -50px;
    left: 50%;
    transform: translateX(-60%);
    border-radius: 2rem;
    padding: 0.5rem;
    background-color: rgba(115, 255, 0, 0.897);
    color: rgb(0, 0, 0);
    transition: all 0.5s ease;
    z-index: 1000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#mensaje.mostrar
{
    bottom: 30px;
    opacity: 1;

}