*
{
    box-sizing: border-box; 
    margin: 0;
}

#order-detail-display
{   
    display: none;
    position: fixed;
    justify-content:center;
    align-items: center;
    top: 0;
    background-color:rgba(0, 0, 0, 0.694);
    width: 100%;
    height: 100%;
    backdrop-filter: blur(2px); /* desenfoque del fondo */
    z-index: 2000;
}

#order-detail-display.show
{
    display: flex; 
 
}

#order-detail-content
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: #fff785de;
    border-radius: 0.5rem;
    justify-content: center;
    width: 95%;
    height: 90%;

    overflow-y: auto;
}

#order-detail-content .AddDishDiv
{
    display: flex;
    position:absolute;
    top: 35rem;
    
    padding-bottom: 2rem;
}


#order-detail-content .AddBTN
{   
    
    border-radius: 2rem;
    padding: 0.5rem;
    background-color: rgb(153, 255, 0);
    opacity: 0.5;
    
    cursor: pointer;
}
#order-detail-content .AddBTN:hover
{
    opacity: 1;
    background-color: rgb(174, 255, 0);
    transition: ease-out 0.2s;
    cursor:pointer;
    box-shadow: 0 5px 15px rgb(0, 0, 0);

}

#order-detail-body
{
    display: flex;
    position: relative;
    gap:2px;
    padding-bottom: 2rem;
    flex-wrap: wrap;
    width: 100%;
    
}

#order-detail-body .title
{
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    max-height: 80vh;
    border-bottom: rgb(0, 0, 0) solid 2px;
}
#order-detail-body .title #close-detail
{
    position: absolute;
    right: 0.5rem;
    top: 8px;
    width: 2rem;

}


#order-detail-body .card
{
    flex: 1 1 250px;   /* cada carta ocupa al menos 250px */
    max-width: 300px;  /* pero no más de 300px */
    background-color: rgb(255, 255, 255);
    height: 27rem;
    margin-left: 2px;

}
#order-detail-body .card .contenedor
{
    display: flex;
    gap:1.5rem;
    flex-direction: column;
    justify-content: space-between;

}

#close-detail
{
  
    border-radius: 2rem;
    width: 2rem;
}    

#close-detail:hover
{
    background-color: red;
    transition: ease-out 0.2s ;
    cursor: pointer;
}
