*
{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
header
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{

    background-color: rgb(0, 0, 0);
}
body.displaytrue
{
    overflow: hidden;
    
}

.Container
{
    display: flex;
    flex-direction: column;
    align-items: start;
    background-color: rgba(194, 255, 221, 0.434);
    margin-bottom: 2rem;
    margin-top: 1rem;
    max-width: 100%;
    border-top: solid black;
    border-radius: 2rem;
    height: 80vh;
    overflow: hidden;
}
.Container .title
{
    display: flex;
    justify-content: center;
    width: 100%;
    max-height: 80vh;
    border-bottom: rgb(255, 255, 255) solid 2px;

}

.ActiveOrders
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 100vh;
    color: white;

}

.InactiveOrders
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: white;
}

#errormensaje
{

    
    position: fixed;
    bottom: -50px;
    left: 50%;
    transform: translateX(-60%);
    border-radius: 2rem;
    padding: 0.5rem;
    background-color: rgba(255, 0, 0, 0.897);
    color: rgb(0, 0, 0);
    transition: all 0.5s ease;
    z-index: 2000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#errormensaje.mostrar
{
    bottom: 30px;
    opacity: 1;

}


#mensaje
{
    position: fixed;
    bottom: -50px;
    left: 50%;
    transform: translateX(-60%);
    border-radius: 2rem;
    padding: 0.5rem;
    background-color: rgba(115, 255, 0, 0.897);
    color: rgb(0, 0, 0);
    transition: all 0.5s ease;
    z-index: 2000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#mensaje.mostrar
{
    bottom: 100px;
    opacity: 1;

}