*
{
    box-sizing: border-box; 
    margin: 0;
}

.order-detail-display
{       
    display: none;
    position: fixed;
    justify-content:center;
    align-items: center;
    top: 0;
    background-color:rgba(0, 0, 0, 0.694);
    width: 100%;
    height: 100%;
    backdrop-filter: blur(2px); /* desenfoque del fondo */
    z-index: 2000;
}

.order-detail-display.show
{
    display: flex; 
 
}

.order-detail-content
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff785de;
    border-radius: 0.5rem;
    justify-content: center;
    width: 90%;
    height: 95%;
    max-height: 90vh;
    overflow-y: auto;
}
#order-detail-body .AddBTN
{   
    position: absolute;
    bottom: 4rem;
    border-radius: 1rem;
    padding: 0.5rem;
    background-color: rgb(153, 255, 0);
    cursor: pointer;
}



#order-detail-body .title
{
    position: absolute;
    top:2.5rem;
    right: 38rem;
}

#order-detail-body
{
    display: flex;
    flex-wrap: wrap;
    gap:0.5rem;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
    overflow-y: auto;
}
#order-detail-body .card
{
    position: relative;
    background-color: rgb(255, 255, 255);
    height: 3rem;
    width: 100%;
    border-radius: 2rem;
    padding: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 1rem;
}
#order-detail-body .card .contenedor
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:2rem;
}

#close-detail
{
    position: absolute;
    top: 2.5rem;
    right: 6rem;
    border-radius: 2rem;
    width: 2rem;
    
}
#close-detail:hover
{
    background-color: red;
    cursor: pointer;
}


#order-detail-body .card .contenedor .status
{
    position: relative;
    margin-left: auto;
    text-align: center;   
    background-color: rgb(255, 255, 255);
    padding: 0.2rem 0.5rem;
    border-radius: 0.3rem;
}
#order-detail-body .confirmStatus
{
    position: absolute;
    color: black;
    bottom: 7rem;
    padding: 1rem;
    border-radius: 2rem;
    background-color: rgb(255, 234, 0);
    opacity: 0.3;
}
#order-detail-body .confirmStatus:hover
{
opacity: 1;
background-color: rgb(255, 234, 0);
cursor: pointer;
transition: all 0.5s ;
box-shadow: 0 5px 15px rgb(0, 0, 0);

}

