#Deliverys
{
    display: none;
    position: fixed;
    justify-content:center;
    align-items: center;
    top: 0;
    background-color:rgba(0, 0, 0, 0.694);
    width: 100%;
    height: 100%;
    backdrop-filter: blur(2px); /* desenfoque del fondo */
    z-index: 1;

}
#Deliverys.show
{
    display: flex;
}
#Deliverys h1{color: rgb(0, 0, 0);}
.delivery-content
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffffd9;
    border-radius: 0.5rem;
    justify-content: center;
    width: 50%;
    height: 50%;
    max-height: 90vh;
    overflow: hidden;
}
#deliveryTypes
{
display: flex;
margin-top: 2rem;
padding: 0.5rem;


}

.confirmbtn
{
    margin-top: 2rem;
    padding: 10px;
    border-radius: 2rem;
}
.confirmbtn:hover
{
    background-color:rgb(245, 255, 180);
    transition: ease-out 0.3s;
    
}
#address
{
    display: none;

}
#address.show
{
    display: flex;
}
#address input
{
    margin-top: 1.5rem;
    border-radius: 2rem;
    width: 20rem;
    padding: 0.5rem;

}

