.CategorySection .categorybar
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: 1.2rem;
 
}
.CategorySection .categorybar button
{
    padding: 0.5rem;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 9999px; /*Esto significa full rounded, totalmente redondeado.*/
    border: solid 1px #E7E0DA;
    cursor: pointer;
    color: var( --thirdText-color);
    background-color: white;
    
}
.CategorySection .categorybar button:hover
{
    background-color: var( --menu-introductionColor);
    color:var(--hover-color);
    transition: 0.35s ease;
}
.CategorySection .categorybar button.active,
.CategorySection .categorybar button:focus
{
    background-color: var(--principal-color);
    color:var(--secondText-color);
    border: none;
}
