.Navbar
{
    gap: 30rem;  
}
.MenuIntroduction
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--menu-introductionColor);
}
.MenuIntroduction .TextContainer
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
    font-family: var(--text-font);
}
.MenuIntroduction .TextContainer h1
{
    font-family:var(--tittle-font);
    font-size: 4rem;
}
.MenuIntroduction .TextContainer p
{
  color: var(--thirdText-color);
  font-size: 1rem;
}
.CategorySection
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    gap: 2rem;
    border-bottom: solid 1px #E7E0DA;
}

.CategorySection input
{
    border-radius: 0.2rem;
    padding: 0.8rem;
    width: 22rem;
    border: solid 1px #E7E0DA;
    font-style: var(--text-font);
}
.CategorySection input:focus
{
    outline: 2px solid  #cd7674;
    
}
.Dishescards.EmptyCategory
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20rem;
    font-family: var(--tittle-font);
    color:var(--thirdText-color);
}