.NavBar
{
    gap: 35rem;
}
.MyOrdersIntroduction
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var( --menu-introductionColor);
    min-height: 15rem;
}
.TextContainer
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.TextContainer h1
{
    font-family: var(--tittle-font);
    font-size: 3.4rem;
}
.TextContainer p
{
    font-family: var(--text-font);
    color:var(--thirdText-color);
    font-size: 1.3rem;
}
.OrderCardsIntroduction
{
    display: flex;
    font-family: var( --text-font);
    padding: 1rem;
}
.OrderCards
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(150px, auto);
    padding: 1rem;
    gap: 1rem;
}
.orderCard
{
    width: 100%;
    padding: 1rem;
    border-radius: 0.5rem;
    border: 1px solid var(--links-color);
    box-shadow: var(--shadow-card);
    font-family: var(--text-font);
}

.orderCard .cartHeader
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1rem;
}
.orderCard .cartBody
{
    display: flex;
    flex-direction: column;
    border-bottom: solid 1px black;
}

.orderCard .cartBody .cartBodyInfo
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.2rem;
}
.orderCard .totalAndBtn
{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 5rem;
}

