
.Btn
{
    border: none;
    padding:1rem;
    border-radius: 1rem;
    background-color: rgb(237, 210, 74);
    cursor: pointer;

}
.Btn:hover
{
    color:var(--ahover-color);
    transition: color 0.4s ease-out;
}

.Menu-Btn
{
    
    padding:1rem;
    border-radius: 1rem;
    background-color:var(--color-hyf);
    cursor: pointer;

}
.Menu-Btn:hover
{
    transition: 0.2s ease;
    background-color:var(--color-hyf-BtnHover)

}
