

.header
{

    display: flex;
    position:sticky;
    top: 0;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    background-color: #322a2af5;   
    color: var(--color-hyf);
    padding: 0.5rem;
    border-bottom:solid var(--color-hyf) 1px ;
    font-weight: bold;
}

.navegation
{
    
    justify-content: flex-end; 
    font-size: 1.2rem;
    padding: 1.2rem;
    margin: 0;

}
.navegation::before
{
    content: "";
    position: absolute;
    background-color: red;
    z-index: -1;
    
}
.navegation ul
{
    list-style-type: none;
    display: flex;
    gap: 3rem;
}


.navegation ul li a
{
    color:var(--color-text);
    font-weight: lighter;
    text-decoration: none;
    transition: color 0.4s ease-out;
    
}
