.footer
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 3rem;
    background-color: var(--footer-color);
    color:var(--secondText-color);
}
.Contact
{
    color: var( --text-highlighted);
}