*
{
    margin:0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

.btn,.btn_
{
    padding: 1rem;
    width: 10vw;
    background-color: var(--principal-color);
    color: var(--secondText-color);
    border: none;
    border-radius: 0.4rem;
    margin: 1rem auto;

}
.btn,.btn_:hover
{
    cursor: pointer;
}