.Navbar
{
    display: flex;
    position:sticky;    
    top: 0;
    flex-direction: row;
    width: 100%;
    padding: 1.3rem;
    background-color: var(--home-color);
    gap: 30rem;
    z-index: 1000;
}
.tittle
{
color:var(--principal-color);
margin-left: 2rem;
font-size: 1.5rem;
font-family: var(--tittle-font);
font-weight:lighter;
}
.links ul
{
display: flex;
justify-content: center;
align-items: center;
flex-direction: row;
gap: 5rem;
}
.links a
{   
    
    color:var(--links-color);
    font-family: var(--text-font);
    font-size: 0.9rem;
    
}
.links a:hover
{   
    cursor: pointer;
    color:var(--hover-color);
    transition: 0.2s ease;
    
}
.links .inicio
{
    color:var(--principal-color);
    font-weight: lighter;
}
.links .inicio:hover
{
    color:var(--principal-color);
    cursor: pointer;
}

