:root
{
    --principal-color:#8F2436;
    --home-color:#ffffff;
    --text-color:#b4b4b4;
    --secondText-color:#ffffff;
    --thirdText-color:#7d7d7d;
    --title-color:#F5F3F2;
    --links-color:#8A7C75;
    --hover-color:#000000;
    --button-hover:#F5F3F2;
    --tittle-font:serif;
    --text-font:sans-serif;
    --text-highlighted:#e1a432;
    --shadow-card: 0 2px 12px -2px hsla(20, 20%, 15%, 0.08);
    --card-hover: 0 10px 40px -10px hsla(350, 60%, 35%, 0.2);

}