:root
{
    --principal-color:#8F2436;
    --home-color:#ffffff;
    --text-color:#DDDCDA;
    --title-color:#F5F3F2;
    --links-color:#8A7C75;
    --hover-color:#000000;
    --button-hover:#F5F3F2;
    --tittle-font:serif;
    --text-font:sans-serif;
    --text-highlighted:#BA892C;

}