:root
{
    --principal-color:#8f2436;
    --footer-color:#2E241F;
    --home-color:#ffffff;
    --menu-introductionColor:#F3ECE2;
    --Cart-BGColor:#F9F7F5;
    --cartCards-color:#FDFCFC;
    --text-color:#b4b4b4;
    --secondText-color:#ffffff;
    --thirdText-color:#7d7d7d;
    --fourthText-color:#000000;
    --title-color:#F5F3F2;
    --links-color:#8A7C75;
    --hover-color:#000000;
    --cartHover-color:#fccad392;
    --button-hover:#F5F3F2;
    --tittle-font:serif;
    --text-font:sans-serif;
    --text-highlighted:#e1a432;
    --Succesfull-CreateOrder:rgba(161, 255, 161, 0.797);
    --Bad-CreateOrder:rgb(255, 103, 103);
    --shadow-card: 0 2px 12px -2px hsla(20, 20%, 15%, 0.08);
    --card-hover: 0 10px 40px -10px hsla(350, 60%, 35%, 0.2);

}